<%- include('../includes/head.ejs') %>
	<link href="category/css/styles.css" rel="stylesheet">
	<link href="category/css/responsive.css" rel="stylesheet">
</head>
<body >

	<%- include('../includes/navigation.ejs') %>

	<div class="slider display-table center-text">
		<h1 class="title display-table-cell"><b>BEAUTY</b></h1>
	</div><!-- slider -->

	<section class="blog-area section">
		<div class="container">

			<div class="row">

				<% if (posts.length > 0) { %>
					<% for(let post of posts) { %>
						<div class="col-lg-4 col-md-6">
							<div class="card h-100">
								<div class="single-post post-style-1">
									<div class="blog-image"><img src="<%= images.find(x => x.postId === post.postId).image %>" alt="Blog Image"></div>
									<a class="avatar" href="#"><img src="<%= users.find(x => x.userId === post.userId).image %>" alt="Profile Image"></a>

									<div class="blog-info">
										<h4 class="title"><a href="#"><b><%= users.find(x => x.userId === post.userId).fullname %></b></a></h4>
										<p class="title"><a href="/post/<%=post.postId%>"><b><%= post.title %></b></a></p>

										<ul class="post-footer">
											<li><a href="#"><i class="ion-heart"></i><%= post.like %></a></li>
											<li>
												<a href="/post/<%=post.postId%>#comment"><i class="ion-chatbubble"></i>
													<%= comments.filter(x => x.postId === post.postId).length %>
												</a>
											</li>
											<li><a href="/post/<%=post.postId%>"><i class="ion-eye"></i><%= post.view %></a></li>
										</ul>
									</div><!-- blog-info -->
								</div><!-- single-post -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
					<% } %>
				<% } else { %>
					<h1>There are currently no new posts</h1>
				<% } %>

			</div><!-- row -->

			<a class="load-more-btn" href="#"><b>LOAD MORE</b></a>

		</div><!-- container -->
	</section><!-- section -->


	<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>
